[[session]]
name = "tmux config"
path = "~/.config/tmux/"
startup_command = "nvim tmux.conf"

[[session]]
name = "root"
path = "~"
startup_command = "ls -la"


[[session]]
name = "tbricks-prd"
path = "~"
startup_command = "ssh -t tbricks-prd 'sudo -iu tbricks'"

[[session]]
name = "tbricks-uat"
path = "~"
startup_command = "ssh -t tbricks-uat 'sudo -iu tbricks'"


[[session]]
name = "sesh"
path = "~/.config/sesh/"
startup_command = "nvim sesh.toml"

[[session]]
name = "fish"
path = "~/.config/fish/"
startup_command = "nvim config.fish"

[[session]]
name = "caesari2"
path = "~/caesari2/"
startup_command = """
tmux new-window -d &&
cursor .
"""

[[session]]
name = "caesari-asset-management"
path = "~/caesari-asset-management/"
startup_command = """
tmux new-window -d &&
cursor .
"""

[[session]]
name = "indicator-worker"
path = "~/caesari2/projects/indicator-worker/"
startup_command = """
tmux new-window -d -c 'main' &&
nvim -c 'Files'
"""

[[session]]
name = "instrument-service"
path = "~/caesari-asset-management/projects/instrument-service/"
startup_command = """
tmux new-window -d &&
tmux new-window -d 'claude' &&
nvim -c 'Files'
"""

[[session]]
name = "secrets"
path = "~/caesari-secrets-management/"
startup_command = "tmux new-window -d && nvim -c 'Files'"

[[session]]
name = "moritz"
path = "~/caesari2/projects/moritz/"
startup_command = "tmux new-window -d && nvim -c 'Files'"

[[session]]
name = "riskbert"
path = "~/caesari2/projects/riskbert/"
startup_command = "tmux new-window -d && nvim -c 'Files'"

[[session]]
name = "curt"
path = "~/caesari2/cli/curt/"
startup_command = "nvm use"

[[session]]
name = "gordon"
path = "~/caesari2/"
startup_command = "ssh gordon"

[[session]]
name = "peter"
path = "~/caesari2/"
startup_command = "ssh peter"


[[session]]
name = "ssh config"
path = "~/.ssh"
startup_command = "nvim config"


[[session]]
name = "hatch"
path = "~/Library/Application Support/hatch/"
startup_command = "nvim config.toml"


[[session]]
name = "polymarket"
path = "~/polymarket"
startup_command = "tmux new-window -d && tmux new-window -d 'ssh polymarket' && nvim -c 'Files'"


[[session]]
name = "ssh moritz"
path = "~/"
startup_command = """
tmux new-window  -d -n E1-okx 'ssh e1-hk-colo && cd moritz; fish'  &&
tmux new-window  -d -n E3-okx 'ssh e3-hk-colo && cd moritz; fish' &&
tmux new-window  -d -n E4-okx 'ssh e4-hk-colo && cd moritz; fish' && 
tmux new-window  -d -n CAM1-bybit 'ssh cam1-sgp && cd moritz; fish' && 
tmux new-window  -d -n CAM4-bybit 'ssh cam4-sgp && cd moritz; fish' &&
tmux new-window  -d -n exp 'exp; fish'
"""


[[session]]
name = "ssh riskbert"
path = "~/"
startup_command = """
tmux new-window  -d -n E2-okx 'ssh e2-hk; fish'  &&
tmux new-window  -d -n E5-okx 'ssh e5-hk; fish' &&
tmux new-window  -d -n CAM2-bybit 'ssh cam2-sgp; fish' && 
tmux new-window  -d -n CAM3-bybit 'ssh cam3-sgp; fish'
tmux new-window  -d -n CAM2-okx 'ssh cam2-hk; fish'
tmux new-window  -d -n CAM3-okx 'ssh cam3-hk; fish'
"""


[[session]]
name = "lint-all"
path = "~/caesari2/"
startup_command = """
tmux new-window -c ~/caesari2/projects/riskbert/ -d -n riskbert 'uv run python -m mypy src; uvx ruff check --fix; uv run python -m pytest -s -vv'  &&
tmux new-window -c ~/caesari2/projects/hawk/ -d -n hawk 'uv run python -m mypy src; uvx ruff check --fix; uv run python -m pytest -s -vv'  &&
tmux new-window -c ~/caesari2/projects/moritz/ -d -n moritz 'uv run python -m mypy src; uvx ruff check --fix; uv run python -m pytest -s -vv'  &&
tmux new-window -c ~/caesari2/projects/dammsugare/ -d -n dammsugare 'uv run python -m mypy src; uvx ruff check --fix; uv run python -m pytest -s -vv'  &&
tmux new-window -c ~/caesari2/projects/data-collector/ -d -n data-collector 'uv run python -m mypy src; uvx ruff check --fix; uv run python -m pytest -s -vv'
tmux new-window -c ~/caesari2/packages/python/caesari_clients/ -d -n caesari_clients 'uv run python -m mypy src; uvx ruff check --fix; uv run python -m pytest -s -vv'  &&
tmux new-window -c ~/caesari2/packages/python/caesari_data/ -d -n caesari_data 'uv run python -m mypy src; uvx ruff check --fix; uv run python -m pytest -s -vv'  &&
tmux new-window -c ~/caesari2/packages/python/caesari_execution/ -d -n caesari_execution 'uv run python -m mypy src; uvx ruff check --fix; uv run python -m pytest -s -vv'  &&
tmux new-window -c ~/caesari2/packages/python/caesari_datasources/ -d -n caesari_datasources 'uv run python -m mypy src; uvx ruff check --fix; uv run python -m pytest -s -vv'  &&
tmux new-window -c ~/caesari2/packages/python/caesari_gateways/ -d -n caesari_gateways 'uv run python -m mypy src; uvx ruff check --fix; uv run python -m pytest -s -vv'  &&
tmux new-window -c ~/caesari2/packages/python/caesari_models/ -d -n caesari_models 'uv run python -m mypy src; uvx ruff check --fix; uv run python -m pytest -s -vv'  &&
tmux new-window -c ~/caesari2/packages/python/caesari_postgres/ -d -n caesari_postgres 'uv run python -m mypy src; uvx ruff check --fix; uv run python -m pytest -s -vv'  &&
tmux new-window -c ~/caesari2/packages/python/caesari_signals/ -d -n caesari_signals 'uv run python -m mypy src; uvx ruff check --fix; uv run python -m pytest -s -vv'  &&
tmux new-window -c ~/caesari2/packages/python/caesari_symbols/ -d -n caesari_symbols 'uv run python -m mypy src; uvx ruff check --fix; uv run python -m pytest -s -vv'  &&
tmux new-window -c ~/caesari2/packages/python/caesari_utils/ -d -n caesari_utils 'uv run python -m mypy src; uvx ruff check --fix; uv run python -m pytest -s -vv'
"""

[[session]]
name = "format-all"
path = "~/caesari2/"
startup_command = """
tmux new-window -c ~/caesari2/projects/riskbert/ -d -n riskbert 'uvx ruff check --fix; fish'  &&
tmux new-window -c ~/caesari2/projects/hawk/ -d -n hawk 'uvx ruff check --fix; fish'  &&
tmux new-window -c ~/caesari2/projects/moritz/ -d -n moritz 'uvx ruff check --fix; fish'  &&
tmux new-window -c ~/caesari2/projects/dammsugare/ -d -n dammsugare 'uvx ruff check --fix; fish'  &&
tmux new-window -c ~/caesari2/projects/data-collector/ -d -n data-collector 'uvx ruff check --fix; fish'
tmux new-window -c ~/caesari2/packages/python/caesari_clients/ -d -n caesari_clients 'uvx ruff check --fix; fish'  &&
tmux new-window -c ~/caesari2/packages/python/caesari_data/ -d -n caesari_data 'uvx ruff check --fix; fish'  &&
tmux new-window -c ~/caesari2/packages/python/caesari_execution/ -d -n caesari_execution 'uvx ruff check --fix; fish'  &&
tmux new-window -c ~/caesari2/packages/python/caesari_datasources/ -d -n caesari_datasources 'uvx ruff check --fix; fish'  &&
tmux new-window -c ~/caesari2/packages/python/caesari_gateways/ -d -n caesari_gateways 'uvx ruff check --fix; fish'  &&
tmux new-window -c ~/caesari2/packages/python/caesari_models/ -d -n caesari_models 'uvx ruff check --fix; fish'  &&
tmux new-window -c ~/caesari2/packages/python/caesari_postgres/ -d -n caesari_postgres 'uvx ruff check --fix; fish'  &&
tmux new-window -c ~/caesari2/packages/python/caesari_signals/ -d -n caesari_signals 'uvx ruff check --fix; fish'  &&
tmux new-window -c ~/caesari2/packages/python/caesari_symbols/ -d -n caesari_symbols 'uvx ruff check --fix; fish'  &&
tmux new-window -c ~/caesari2/packages/python/caesari_utils/ -d -n caesari_utils 'uvx ruff check --fix; fish'
"""


[[session]]
name = "iw run"
startup_command = "iw run"

[default_session]
path = "~/caesari2/"
startup_command = """
tmux new-window -d &&
tmux new-window -d 'claude' &&
nvim -c 'Files'
"""
